
[settings]
experimental = true # for hooks
pipx_uvx = true

[hooks]
postinstall = ['mise run init']

[tools]
uv = "0.10.7"
"pipx:qmk" = "1.2.0"
"pipx:clangd" = "21.1.8"
"pipx:clang-format" = "21.1.8"

[env]
QMK_HOME = "{{ config_root }}/qmk_firmware"
QMK_USERSPACE = "{{ config_root }}"

[tasks.init]
description = "Initialise submodules and QMK CLI config"
run = [
	'git submodule update --init --recursive',
	'qmk config user.qmk_home="$QMK_HOME"',
	'qmk config user.overlay_dir="$QMK_USERSPACE"',
	'qmk git-submodule',
]

[tasks.build]
description = "Compile Lily58 firmware"
run = 'qmk compile -kb lily58 -km sierrajc -e CONVERT_TO=helios'

[tasks.compile]
description = "Compile Lily58 and generate compile_commands.json"
run = 'qmk compile -kb lily58 -km sierrajc -e CONVERT_TO=helios --compiledb'

[tasks.flash]
description = "Compile and flash Lily58 firmware"
run = 'qmk flash -kb lily58 -km sierrajc -e CONVERT_TO=helios'

[tasks.generate-autocorrect]
description = "Regenerate autocorrect_data.h from dictionary file"
run = 'qmk generate-autocorrect-data keyboards/lily58/keymaps/sierrajc/autocorrect_data.txt -kb lily58 -km sierrajc'

[tasks.update-firmware]
description = "Update qmk_firmware submodule"
run = [
	'git submodule update --init qmk_firmware',
	'git submodule update --remote qmk_firmware',
	'qmk git-submodule',
]
